;; shadow-cljs configuration
{:source-paths ["src"]
 :dependencies [[reagent "1.3.0"]
                [re-frame "1.4.3"]]
 :builds {:browser {:target :browser
                    :output-dir "public/js"
                    :asset-path "/js"
                    :modules {:main {:init-fn delta-pdf.browser/init}}}
          :node {:target :node-script
                 :output-to "output/delta-pdf.js"
                 :main delta-pdf.node/main}}
 :http {:port 9630}
 :dev-http {9631 "public"}}
